<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>注文完了</h2>
    <p>ご注文ありがとうございました！（注文番号: {{ order_id }}）</p>
    <a href="/products">商品一覧へ戻る</a>
</body>
</html>