<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
</head>
<body>
    <h1>商品一覧</h1>
    <ul>
    {% for product in products %}
        <li>
        <a href="/product/{{ product.id }}">{{ product.name }}</a> - {{ product.price }}円
        </li>
    {% endfor %}
    </ul>
</body>
</html>